.card__container{
    background: linear-gradient(0deg, #0A1612 55%, #0d4156 );
    /*background-color: #0A1612 ;
    outline: #0A1612 solid 6px;*/
    color: #C5C1C0;
    padding: 12px;
    border-radius: 2%;
    overflow: hidden;
    border: #C5C1C0 solid 3px;
    height: 100%;
    position: relative;
}



.screenshot__container{
    width: 100%;
    
}

.screenshot__container > img{
    border-radius: 2%;
    overflow: hidden;
}


.slick-dots>li>button{
    color: transparent;
    background-color: rgb(91, 91, 91);
    font-size: 1px;
    margin:1px;
    border: none;
}

.slick-dots>li{
    display:inline-block;
}

.slick-dots>li::maker{
    visibility: hidden;
    opacity: 0;
}

.slick-active>button{
    background-color: white !important;
}

.content__card{
    padding: 5px;
}

.content__card>h3{
    text-align: center;
    color: #F7CE3E;
}


.card__description{
    text-align: justify;
    font-size: 1rem;
}

.read__more{
    color: rgb(48, 167, 252);
}

.read__more:hover{
    cursor: pointer;
}

.card__buttons{
    display: flex;
    justify-content: space-between;

}

.card__buttons>button, .card__buttons>a>button{
    font-size: 1vw;
    background-color:transparent;
    color: #C5C1C0;
    border-color: transparent;
    transition: border-color linear 0.25s;
}

.card__buttons>button:hover, .card__buttons>a>button:hover{
    border-color: #C5C1C0;
}

.cardbtn__icon{
    font-size: 3vw;
    background-color:transparent;
    color: #C5C1C0;
}

@media screen and (max-width: 767px){
    .card__container{
        max-width: 80%;
    }

    .card__buttons > button, .card__buttons > a > button{
        font-size: 1.2rem;
    }

    .cardbtn__icon{
        font-size: 2rem;
    }
}

@media screen and (max-width: 567px){

    .card__buttons{
        display: flex;
        align-items: flex-start;
    }

    .card__container{
        max-width: 95%;
    }

    .card__buttons > button, .card__buttons > a > button{
        font-size: 0.7rem;
    }

    .cardbtn__icon{
        font-size: 1.6rem;
    }
}

